*{
    margin: 0;
    padding: 0;
}
.cont1{
    float: left;
    height: 50%;
    width: 49%;
    border:solid 1px;
}
.cont2{
    float: right;
    height: 50%;
    width: 50%;
    border:solid 1px;
}
.cont3{
    float: left;
    height: 49%;
    width: 100%;
    border:solid 1px;
}
embed{
    height: 100%;
    width: 100%;
}
